*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #12203d;
    --borderColor: #687996;
    --shadowColor: #23385d;
    --insideColor: #03091f;
    --secundaryColor: #36b3ff;
}
body{
    position: relative;
    background-color: var(--mainColor);
}
.first-layer{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 24, 48, 0.8);

    z-index: 3;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    padding: 10px;

    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    background-color: white;
    border-radius: 15px;
}
.result h2{
    display: block;
    text-align: center;
    font-weight: 500;
}
.result p{
    display: block;
    text-align: center;
    font-size: 1rem;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 60px;
    padding: 5px;
}
.links a{
    width: 50px;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 15px;
    border: 2px solid var(--borderColor);
}
.twitter{
    background-image: url('./assets/icons/twitter.svg');
}
.github{
    background-image: url('./assets/icons/github-big-logo.svg');
}
.result button{
    width: 90px;
    height: 40px;

    color: var(--insideColor);
    font-weight: 600;
    font-size: 1rem;

    border: none;
    border-radius: 15px;
    background-color: var(--secundaryColor);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.lines-status article{
    display: none;
}
.levels-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    height: 100px;
    padding: 13px;
    margin: 10px 0;

    background-color: var(--shadowColor);
}
.levels-status article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 125px;
    height: 85px;
    padding: 5px 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;

    border: 2px solid var(--borderColor);
    background-color: var(--insideColor);
}
.status{
    position: relative;
    width: 40px;
    height: 40px;
}
.status h2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 15px);
    width: 100%;
    height: 30px;

    font-weight: 500;
    font-size: 1.2rem;

    z-index: 2;
}
.status svg{
    width: 50px;
    height: 50px;
    transform: translate(-5px, -5px);
}
.status svg circle{
    fill: none;
    stroke-width: 3;
    stroke: var(--secundaryColor);
    transform: translate(5px, 5px);

    stroke-dasharray: 125;
    stroke-dashoffset: 125;
    stroke-linecap: round;
}
.status svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--borderColor);
}
.status svg circle:nth-child(2){
    stroke: var(--secundaryColor);
}
.table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 432px;
    padding: 10px;

    border-radius: 15px;
    background-color: var(--shadowColor);
    /* box-shadow: 5px 5px 9px #00003e; */
}
.boardGame{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 401px;
    background-color: var(--insideColor);
    border: 2px solid var(--borderColor);
}
.boardGame section{
    display: flex;
}
.boardGame section div{
    width: 26.4px;
    height: 26.4px;

    border: 1px solid var(--shadowColor);
}
.startButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 17.5px);
    left: calc(50% - 35px);
    width: 70px;
    height: 35px;
    padding: 10px;
    color: var(--shadowColor);

    border: none;
    border-radius: 15px;
    background-color: var(--secundaryColor);
}

@media (min-width: 650px){
    main{
        flex-direction: row;
    }
    .levels-status{
        width: 130px;
        height: 130px;
        margin: 0 10px;
    }
    .lines-status{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 130px;
        height: 130px;
        padding: 13px;
        margin: 0 10px;

        /* border-radius: 15px; */
        background-color: var(--shadowColor);
    }
    .lines-status article{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 125px;
        height: 95px;
        padding: 5px 0;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: white;

        border: 2px solid var(--borderColor);
        background-color: var(--insideColor);
    }
    .main__section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: inherit;
        height: auto;
    }
    .levels-status article:nth-child(1){
        display: none;
    }
    .levels-status article:nth-child(2){
        justify-content: space-evenly;
        height: 95px;
    }
}